.table-view {
  -fx-border-color: #666;
  -fx-table-cell-border-color: transparent;
}

.table-row-cell:filled:selected {
  -fx-background-color: #a8cfa8;
}

.table-column {
  -fx-alignment: CENTER;
}

.titled-pane > .title {
  -fx-background-color: #ddf;
}

.titled-pane > .content {
  -fx-padding: 10px;
  -fx-background-color: #f8f8f8;
}

/* Style for table view hover with lift effect */
.table-view .table-row-cell:hover {
  -fx-scale-x: 1.02;
  -fx-scale-y: 1.02;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0, 0, 10);
  -fx-cursor: hand;
}

/* Style for accordion title hover with lift and shadow */
.titled-pane > .title:hover {
  -fx-background-color: #ddf;
  -fx-scale-y: 1.05;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0, 0, 0);
  -fx-cursor: hand;
}

/* Style for accordion content */
.titled-pane > .content {
  -fx-padding: 10px;
  -fx-background-color: #f8f8f8;
}

/* Additional styling for lift effect on accordion items */
.titled-pane .titled-pane > .title:hover + .content {
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 2);
}

/* Reset the scale when not hovered */
.table-view .table-row-cell, .titled-pane > .title {
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-effect: null;
}

/* Style for ImageView hover inside accordion */
.titled-pane .content .image-view:hover {
  -fx-scale-x: 1.1;
  -fx-scale-y: 1.1;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 20, 0, 0, 10);
  -fx-cursor: hand;
}

/* Reset the style when not hovered */
.titled-pane .content .image-view {
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  -fx-effect: null;
}

