.welcome-text {
  -fx-font-family: 'Arial', sans-serif;
  -fx-font-size: 100px;
  -fx-font-weight: bold;
  -fx-text-fill: #2c3e50;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 15, 0.0, 0, 1);
  -fx-letter-spacing: 0.5px;
  -fx-padding: 20px;
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-background-radius: 10px;
}

.menu-button {
  -fx-background-color: #3498db;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 10px 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
}

.menu-button:hover {
  -fx-background-color: #2980b9;
}

.menu-box {
  -fx-background-color: #ecf0f1;
  -fx-padding: 15px;
  -fx-spacing: 10px;
}
