/* Base styles for sections */
.header-section, .detail-section, .ingredients-section, .instructions-section {
  -fx-padding: 20;
  -fx-spacing: 10;
}
/*
.header-section {
  -fx-alignment: center-left;
  -fx-padding: 10;
}*/
.header-section {
  -fx-spacing: 15px;
  -fx-padding: 20px 0;
}

.ingredients-section, .instructions-section {
  -fx-background-radius: 5;
  -fx-background-color: #fff;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
}



/* Base styles for labels */
.title-label, .detail-label, .ingredients-label, .instructions-label {
  -fx-text-fill: #444;
}
/*
.title-label {
  -fx-font-size: 24pt;
  -fx-font-weight: bold;
  -fx-text-fill: #333;
}*/
.title-label {
  -fx-font-size: 28px;
  -fx-font-weight: bold;
  -fx-text-fill: #333;
}

.ingredients-label, .instructions-label {
  -fx-font-size: 18pt;
  -fx-underline: true;
  -fx-text-fill: #666;
}

.detail-label {
  -fx-font-size: 14pt;
}



/* Recipe detail view *//*
.recipe-detail-view {
  -fx-font-family: 'Arial';
  -fx-background-color: #f0f0f0;
}*/
.recipe-detail-view {
  -fx-padding: 20px;
  -fx-background-color: #FAFAFA;
  -fx-border-radius: 10px;
}


/* Rating box styles */
.rating-box {
  -fx-spacing: 5;
  -fx-alignment: center;
}

.rating-star {
  -fx-fill: lightblue;
  -fx-stroke: black;
  -fx-stroke-width: 1;
}



/* List and area styles */
.ingredients-list-view, .instructions-area {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.instructions-area {
  -fx-text-fill: #333;
}



/* Image view styles *//*
.recipe-image {
  -fx-cursor: zoom-in;
  -fx-transition: all 0.3s ease-in-out;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 15, 0.3, 0, 6);
}*/
.recipe-image {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 10);
  -fx-cursor: pointer;
  -fx-scale-x: 1;
  -fx-scale-y: 1;
  transition: transform .3s ease-in-out;
}

.recipe-image:hover {
  -fx-scale-x: 2.05;
  -fx-scale-y: 2.05;
  /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 0);*/
}



/* Button styles */
.button {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
  -fx-background-color: #5cb8b5;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 10 20;
  -fx-border-radius: 5;
  -fx-background-radius: 20px;
  -fx-cursor: hand;
  -fx-transition: background-color 0.9s ease-in-out;
}

.button:hover {
  -fx-background-color: #017D73;
  -fx-font-size: 14px;
  -fx-scale-x: 1.09;
  -fx-scale-y: 1.09;
}

.button-favorite-added {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

  -fx-background-color: green;
  -fx-text-fill: white;

  -fx-font-weight: bold;
  -fx-padding: 10 20;
  -fx-border-radius: 5;
  -fx-background-radius: 20px;
  -fx-cursor: hand;
  -fx-transition: background-color 0.9s ease-in-out;
}

.button-favorite-removed {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

  -fx-background-color: red;
  -fx-text-fill: white;

  -fx-font-weight: bold;
  -fx-padding: 10 20;
  -fx-border-radius: 5;
  -fx-background-radius: 20px;
  -fx-cursor: hand;
  -fx-transition: background-color 0.9s ease-in-out;
}
