/* General GUI Styles */
.recipe-gui {
  -fx-background-color: #86cfd9;
}

/* Recipe card styles */
.recipe-card {
  -fx-background-color: white;
  -fx-border-color: #cccccc;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-cursor: hand;
}

.recipe-card:hover {
  -fx-scale-x: 1.125;
  -fx-scale-y: 1.125;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 10);
}

.recipe-grid {
  -fx-alignment: center;
  -fx-max-width: 215px;
}

/* Category panel styles */
.category-panel {
  -fx-background-color: white;
  -fx-padding: 10px;
  -fx-spacing: 5px;
  -fx-alignment: center;
}

.category-panel .button {
  -fx-font-size: 14px;
  -fx-background-color: #a3d2ca;
  -fx-text-fill: #333333;
  -fx-font-weight: bold;
  -fx-border-radius: 5px;
  -fx-background-radius: 5px;
  -fx-padding: 10px 20px;
  -fx-max-width: 215px;
  -fx-cursor: hand;
}

.category-panel .button:hover {
  -fx-background-color: #83c0b6;
  -fx-text-fill: #0b1d31;
}

/* Recently viewed styles */
.recently-viewed {
  -fx-background-color: white;
  -fx-padding: 10px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-color: #cccccc;
}

.recently-viewed-label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #305252;
}

/* List view styles for recently viewed and favorites */
.custom-list-view {
  -fx-background-color: #389daf;
  -fx-border-color: #ccc;
  -fx-border-width: 1;
  -fx-border-radius: 5;
  -fx-padding: 10px;
}

.custom-list-view .list-cell {
  -fx-background-color: white;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5;
}

.custom-list-view .list-cell:hover {
  -fx-background-color: #e1f2f6;
}

.custom-list-view .list-cell:filled:selected, .custom-list-view .list-cell:filled:hover {
  -fx-background-color: #e1e1e1;
  -fx-background-insets: 0, 1;
  -fx-background-radius: 5;
}

.custom-list-view .list-cell .cell-content {
  -fx-padding: 10px;
}

.heading-label {
  -fx-background-color: #5cb8b5;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 8;
  -fx-background-radius: 5;
}



/* Button styles */
.button {
  -fx-background-color: #5cb8b5;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 10px 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 20px;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #017D73;
  -fx-font-size: 14px;
}

.remove-button {
  /* Eksempel på enkel stilsetting */
  background-color: red;
  text-fill: white;
  border-radius: 4px;
  padding: 4px 8px;
}

.remove-button:hover {
  background-color: darkred;
}


/* Side panel containing Recently Viewed and Favorites */
.side-panel {
  -fx-background-color: #f7f7f7;
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 0 1px 0 0;
}

/* Headings styles */
.side-panel .heading {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-background-color: #e6e6e6;
  -fx-padding: 5px;
  -fx-background-radius: 5px;
}

/* List View styles */
.side-panel .list-view {
  -fx-background-color: #fff;
  -fx-border-color: transparent;
  -fx-padding: 5px;
  -fx-max-width: 250px; /* Maximum width for the lists */
}

/* ScrollPane styles */
.side-panel .scroll-pane {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

/* List Cell styles */
.list-cell {
  -fx-padding: 5px 10px;
  -fx-border-color: transparent;
}

.custom-combobox {
  -fx-background-color: #a3d2ca;
  -fx-padding: 5px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

.custom-combobox .arrow-button {
  -fx-background-color: #83c0b6;
}

.custom-combobox .list-cell {
  -fx-padding: 5px;
  -fx-border-color: transparent;
}

.custom-title-label {
  -fx-font-size: 16px;
  -fx-text-fill: #305252;
  -fx-font-weight: bold;
  -fx-padding: 5px;
  -fx-alignment: center;
}

/* Style adjustments for hover effects on list view cells */
.list-cell:filled:hover {
  -fx-background-color: #e1f2f6;
}


.no-recipes-label {
  -fx-font-size: 14px;
  -fx-text-fill: #555;
  -fx-padding: 20px;
}
