/* General layout styles */
.shopping-list-gui {
  -fx-background-color: #86cfd9;
  -fx-padding: 10px;
}

/* Styles for the table displaying the shopping list items */
.grocery-table-view {
  -fx-border-color: #d3d3d3;
  -fx-border-width: 1;
  -fx-border-insets: 5;
  -fx-border-radius: 5;
  -fx-pref-height: 200px;
  -fx-min-height: 200px; /* minimum height */
  -fx-max-height: Infinity; /* allows the table to grow */
}

/* Styles for table columns */
.table-column {
  -fx-background-color: #f8f8ff;
  -fx-alignment: center-left;
  -fx-padding: 5px;
}

/* Table row styles */
.table-row-cell {
  -fx-cell-size: 50px;
}

/* Button styles */
.button {
  -fx-background-color: #5cb8b5;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-padding: 10px 20px;
  -fx-border-radius: 5px;
  -fx-background-radius: 20px;
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #017D73;
  -fx-font-size: 14px;
}

/* Text field and search button styles */
.text-field, .button {
  -fx-font-size: 14px;
}

.search-box {
  -fx-background-color: #e6e6fa;
  -fx-padding: 5px;
  -fx-alignment: center;
}

.search-field {
  -fx-prompt-text-fill: derive(#000000, 30%);
}

/* Combobox styling */
.combo-box {
  -fx-background-color: #add8e6;
  -fx-text-fill: #333;
}

.combo-box .list-cell {
  -fx-padding: 10px;
  -fx-text-fill: #333;
}

/* List Cell styles */
.list-cell {
  -fx-padding: 5px 10px;
  -fx-border-color: transparent;
}

.custom-combobox {
  -fx-background-color: #a3d2ca;
  -fx-padding: 5px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

.custom-combobox .arrow-button {
  -fx-background-color: #83c0b6;
}

.custom-combobox .list-cell {
  -fx-padding: 5px;
  -fx-border-color: transparent;
}

.custom-title-label {
  -fx-font-size: 16px;
  -fx-text-fill: #305252;
  -fx-font-weight: bold;
  -fx-padding: 5px;
  -fx-alignment: center;
}

/* Style adjustments for hover effects on list view cells */
.list-cell:filled:hover {
  -fx-background-color: #e1f2f6;
}
