.table-view {
  -fx-table-cell-border-color: transparent;
  -fx-table-header-border-color: derive(-fx-base, 80%);
}

.table-row-cell {
  -fx-border-color: lightgray;
  -fx-border-width: 0 0 1 0; /* Top Right Bottom Left */
}

.table-column {
  -fx-border-width: 0 0 0 1;
  -fx-border-color: lightgray;
}